@model List<DataBooking>

@{
    Layout = "_LayoutAdmin";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3>Daftar Booking - Lily Kost🌺</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>No Telepon</th>
                            <th>No KTP</th>
                            <th>Pekerjaan</th>
                            <th>Jumlah kamar</th>
                            <th>Nama Kost</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var booking in @Model)
                        {
                            <tr>
                                <td>@booking.Name</td>
                                <td>@booking.PhoneNumber</td>
                                <td>@booking.IDCardNumber</td>
                                <td>@booking.Work</td>
                                <td>@booking.Count</td>
                                <td>@booking.dataKost.Id</td>
                                <td>
                                    <a href="/BookingKost/Edit/@booking.Id" class="btn btn-primary">Edit</a>
                                    <a href="/BookingKost/Delete/@booking.Id" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>